* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
}

/*-----------Basic styles, change according to your style-----------*/
/*-----------Start Page-----------*/
#start-page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
}
#start-page main {
  padding-top: 10rem
}
#start-page main h1 {
  font-size: 6rem;
  width: 60rem;
}
#start-page main div {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}
#start-page main p.ins {
  font-size: 2rem;
  color: #fff;
}
#start-page main p.des {
  font-size: 2rem;
  color: #fff;
}
#start-page main button {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  width: 9rem;
  margin-top: 15rem
}

#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#lose-page {
  display: none;
}

#win-page {
  display: none;
}

/*-----------Auxiliar classes-----------*/

.hidden {
  display: none;
}

.shown {
  display: flex;
}

/*-----------Grid1 to Play-----------*/
.grid{
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: 170px 210px 64px 64px;
  grid-template-columns: 124px 376px 60px;
  grid-gap: 30px 20px;
  background-color: black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }

.grid > div {
  /*amb o sense marge*/
  background-color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif; 
}

.grid div#a {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #ffffff
}

.grid div#b {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #ffffff
}

.grid div#c {
  grid-row: 1/3;
  grid-column: 2/4;
  background-color: #ffffff;
}

.grid div#d {
  grid-row: 3/5;
  grid-column: 1/2;
  background-color: #ffffff;
  color: white;
}

.grid div#e {
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: #ffffff
}

.grid div#f {
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: #ffffff
}

.grid div#g {
  grid-row: 4/5;
  grid-column: 3/4;
  background-color: #ffffff;
}

/*-----------Color-buttons-----------*/

.palette-colors .blue {
  background-color: #015CA0;
}

.palette-colors .red {
  background-color: #DE271D
}
.palette-colors .yellow {
  background-color: #ECDB6B
}
.palette-colors .white {
  background-color: #ffffff
}

.palette-colors .grey {
  background-color: #aaaaaa
}

.palette-colors .black {
  background-color: #000;
  color: white
}


/*-----------Grid2 to Play-----------*/

.grid-Two{
box-sizing: border-box;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 0.5fr;
  grid-template-rows: 11vw repeat(5, 13vw) 11vw 6.5vw 6.5vw;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}

.grid2 > li {
  border: 0.5vw solid black;
  background-size: cover;
}

.grid2 li#a2 {
  grid-column: span 2;
  background-color: #E5EEEB;
  border-top: none;
  border-left: none;
}

.grid2 li#b2 {
  grid-column: span 3;
  background-color: #F2E7D5;
  border-top: none;
}

.grid2 li#c2 {
  grid-column: span 2;
  background-color: #F2C968;
  border-top: none;
}

.grid2 li#d2 {
  grid-row: span 6;
  background-color: #FCFDE7;
  border-top: none;
  border-right: none;
}

.grid2 li#e2 {
  grid-row: span 2;
  background-color: #FBFDE7;
  border-left: none;
}

.grid2 li#f2 {
  grid-column: span 4;
  grid-row: span 4;
  background-color: #D62D24;
}

.grid2 li#g2 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #EDCC6B;
}

.grid2 li#h2 {
  grid-row: span 3;
  background-color: #E1EAE5;
  border-left: none;
}

.grid2 li#i2 {
  grid-row: span 2;
  background-color: #DFE5D0;
}

.grid2 li#j2 {
  grid-row: span 2;
  background-color: #F2EEE2;
}

.grid2 li#k2 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #130409;
}

.grid2 li#l2 {
  grid-column: span 2;
  background-color: #C0BFBA;
}

.grid2 li#m2 {
  grid-column: span 2;
  background-color: #D6DEE0;
}

.grid2 li#n2 {
  grid-row: span 3;
  background-color: #F4C65A;
  border-left: none;
  border-bottom: none;
}

.grid2 li#o2 {
  grid-column: span 2;
  background-color: #DEE2D4;
}

.grid2 li#p2 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #241785;
}

.grid2 li#q2 {
  grid-row: span 3;
  background-color: #D73630;
  border-bottom: none;
  border-right: none;
}

.grid2 li#r2 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #E3DED9;
  border-bottom: none;
}

.grid2 li#s2 {
  grid-column: span 2;
  background-color: #0B0205;
}

.grid2 li#t2 {
  grid-column: span 4;
  background-color: #E0E0DF;
  border-bottom: none;
}