* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
}

body, button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/*-----------Basic styles, change according to your style-----------*/
/*-----------Start Page-----------*/
#start-page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/background-b.jpeg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
#start-page main {
  padding-top: 5rem
}
#start-page main h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 6rem;
}
#start-page main div.ins-and-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 8.5rem;
  gap: 40rem;
}
#start-page main div.ins-and-desc div.instructions {
  display: flex;
  justify-content: center;
  background-color: #DE271D;
  width: 10rem;
  height: 12.5rem;
  transition-property: width;
  transition-delay: 1s;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  cursor: pointer
}
#start-page main div.ins-and-desc div.instructions:hover {
  width: 15rem;  
}

#start-page main div.ins-and-desc div.description {
  display: flex;
  justify-content: center;
  background-color: #ECDB6B;
  width: 10rem;
  height: 12.5rem;
  margin-top: 0.2rem;
}
#start-page main div.ins-and-desc div.instructions p.ins {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff; 
}
#start-page main div.ins-and-desc div.description p.des {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}
#start-page main button {
  background-color: rgb(23, 72, 163);
  color: #fff;
  border: 1px solid black;
  padding: 1.5rem 0.9rem;
  margin-top: 2.1rem;
}

/*-----------Artwork Seconds-----------*/
#artwork-page {
  justify-content: center;
}

.artwork-page-seconds {
  display: flex;
  justify-content: center;
}

.artwork-page-seconds main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.artwork-page-seconds h3{
  font-size: 2rem;
  display: flex;
}

.artwork-page-seconds img {
  margin-top: 20px;
  width: 800px;
  height: 800px;
}

#seconds {
  font-weight: 900;
  color: #DE271D;
}

/*-----------Lose Page-----------*/
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#lose-page {
  display: none;
}

#win-page {
  display: none;
}

/*-----------Auxiliar classes-----------*/

.hidden {
  display: none;
}

.shown {
  display: flex;
}



/*-----------Grid1 to Play-----------*/
.grid1{
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: 170px 210px 64px 64px;
  grid-template-columns: 124px 376px 60px;
  grid-gap: 30px 20px;
  background-color: black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }

.grid1 > div {
  /*amb o sense marge*/
  background-color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif; 
}

.grid1 div#a0 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #ffffff
}

.grid div#a1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #ffffff
}

.grid1 div#a2 {
  grid-row: 1/3;
  grid-column: 2/4;
  background-color: #ffffff;
}

.grid1 div#a3 {
  grid-row: 3/5;
  grid-column: 1/2;
  background-color: #ffffff;
  color: white;
}

.grid1 div#a4 {
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: #ffffff
}

.grid1 div#a5 {
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: #ffffff
}

.grid1 div#a6 {
  grid-row: 4/5;
  grid-column: 3/4;
  background-color: #ffffff;
}

/*-----------Color-buttons-----------*/
#game-page{
  justify-content: center;
}
.game-page-css{
  display: flex;
  justify-content: center;
}
.art-work {
  margin-top: 50px;
}
.paint-colors {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.palette-colors{
  display: flex;
  gap: 20px
}
.palette-colors .blue {
  background-color: #015CA0;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
}

.palette-colors .red {
  background-color: #DE271D;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
}
.palette-colors .yellow {
  background-color: #ECDB6B;
  color: #fff;
    border: none;
    padding: 0.8rem 1rem;
    width: 4rem;
    height: 4rem;
}
.palette-colors .white {
  background-color: #ffffff;
  color: #000;
  border: 1px solid black;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
}

.palette-colors .grey {
  background-color: #aaaaaa;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height:4rem;
}

.palette-colors .black {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
}

/*-----------Check Button I'm done-----------*/
.finish-button{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#check-button {
  background-color: #ECDB6B;
  color: #000;
  border: none;
  padding: 0.8rem 1rem;
  width: 8rem;
  height: 4rem;
}

/*-----------Grid2 to Play-----------*/

.grid-Two{
box-sizing: border-box;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 70px) 90px 90px 30px; 
  grid-template-rows: 30px repeat(5, 70px) 70px 65px 35px; 
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.grid2 > div {
  border: 0.5vw solid black;
  background-size: cover;
}

.grid2 div#a0 {
  grid-column: span 2;
  background-color: #ffffff;
  border-top: none;
  border-left: none;
}

.grid2 div#a1 {
  grid-column: span 3;
  background-color: #ffffff;
  border-top: none;
}

.grid2 div#a2 {
  grid-column: span 2;
  background-color: #ffffff;
  border-top: none;
}

.grid2 div#a3 {
  grid-row: span 6;
  background-color: #ffffff;
  border-top: none;
  border-right: none;
}

.grid2 div#a4 {
  grid-row: span 2;
  background-color: #ffffff;
  border-left: none;
}

.grid2 div#a5 {
  grid-column: span 4;
  grid-row: span 4;
  background-color: #ffffff;
}

.grid2 div#a6 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a7 {
  grid-row: span 3;
  background-color: #ffffff;
  border-left: none;
}

.grid2 div#a8 {
  grid-row: span 2;
  background-color: #ffffff;
}

.grid2 div#a9 {
  grid-row: span 2;
  background-color: #ffffff;
}

.grid2 div#a10 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a11 {
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a12 {
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a13 {
  grid-row: span 3;
  background-color: #ffffff;
  border-left: none;
  border-bottom: none;
}

.grid2 div#a14 {
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a15 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a16 {
  grid-row: span 3;
  background-color: #ffffff;
  border-bottom: none;
  border-right: none;
}

.grid2 div#a17 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #ffffff;
  border-bottom: none;
}

.grid2 div#a18 {
  grid-column: span 2;
  background-color: #ffffff;
}

.grid2 div#a19 {
  grid-column: span 4;
  background-color: #ffffff;
  border-bottom: none;
}