* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  background: #f9f5f2;
  background: linear-gradient(180deg, rgba(249, 245, 242, 1) 51%, rgba(245, 245, 245, 1) 94%);}

body, button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

strong {
  font-weight: 900;
}

/*-----------Auxiliar classes-----------*/

.hidden {
  display: none;
}

.shown {
  display: flex;
}
/*-----------Start Page-----------*/
#start-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/mondrians-dream-background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#start-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-color: #f9f5f2;
  width: 70rem;
}

#start-page main h1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 18px;
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #015CA0;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #DE271D;
}

.rainbow-letters span:nth-child(10n + 3) {
  color: #ECDB6B;
}

.rainbow-letters span:nth-child(10n + 5) {
  color: #aaaaaa;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #000000;
}

.rainbow-letters span:nth-child(10n + 6) {
  color: #015CA0;
}

.rainbow-letters span:nth-child(10n + 7) {
  color: #DE271D;
}

.rainbow-letters span:nth-child(10n + 8) {
  color: #ECDB6B;
}

.rainbow-letters span:nth-child(10n + 9) {
  color: #aaaaaa;
}

.rainbow-letters span:nth-child(10n + 10) {
  color: #000000;
}

.rainbow-letters span:nth-child(10n + 11) {
  color: #015CA0;
}

.rainbow-letters span:nth-child(10n + 12) {
  color: #015CA0;
}

.rainbow-letters span:nth-child(10n + 13) {
  color: #DE271D;
}

.rainbow-letters span:nth-child(10n + 14) {
  color: #ECDB6B;
}

.rainbow-letters span:nth-child(10n + 15) {
  color: #000000;
}

.rainbow-letters span:nth-child(10n + 16) {
  color: #aaaaaa;
}

#start-page main div.ins-and-desc {
  display: flex;
  margin-top: 2.5rem;
}

#start-page main div.ins-and-desc div.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DE271D #ECDB6B;
  width: 60rem;
}

#start-page main div.ins-and-desc div.instructions p.ins { 
  font-size: 1.2rem;
  line-height: 25px;
  color:black; 
}

#start-page main button {
  background-color: #DE271D;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 2.1rem;
  margin-bottom: 2.1rem;
  cursor: pointer;
}

#start-page main button:hover {
  background-color: #ECDB6B;
  color:rgb(23, 72, 163);
}

/*-----------Artwork Seconds Page-----------*/
#artwork-page {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.artwork-page-seconds {
  display: flex;
  justify-content: center;
}

.artwork-page-seconds main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.artwork-page-seconds h3{
  font-size: 2rem;
  display: flex;
  padding-bottom: 20px;
}

.artwork-page-seconds img {
  margin-top: 20px;
  width: 800px;
  height: 800px;
}

#seconds {
  line-height: 1px;
  font-weight: 900;
  font-size: 4rem;
  color: #DE271D;
}

/*-------------Buttons General-----------------*/

.back-menu-button {
  background-color: rgb(23, 72, 163);
  color: #fff;
  border: none;
  width: 10rem;
  padding: 1.5rem 0.9rem;
}

.try-again-button {
  background-color: #ECDB6B;
  color: #000;
  border: none;
  padding: 1.5rem 0.9rem;
  width: 10rem;
}

.back-menu-button:hover {
  background-color: #ECDB6B;
  color: #000;
}

.try-again-button:hover {
  background-color: #DE271D;
  color: #fff;
}

.next-level-button {
  background-color: #DE271D;
  color: #fff;
  border: none;
  width: 10rem;
  padding: 1.5rem 0.9rem;
}

.next-level-button:hover {
  background-color: #ECDB6B;
  color: #000;
}

.next-level-button:disabled{
  background-color: gray;
  color: white;
}

#lose-page {
  display: none;
}

#win-page {
  display: none;
}

#instructions {
  display: none;
}

/*-----------Game Page -----------*/
#game-page{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-page-css{
  display: flex;
  justify-content: space-evenly;
}

.game-page-css .left {
  display: flex;
  align-items: center;
  margin-right: 200px; 
}

.game-page-css .rigth {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.game-page-css main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-page-css main h1 {
  font-size: 2rem;
  margin-top: 10px;
}

.art-work {
  margin-top: 35px;
}

/*-----------Game Page - Color-buttons-----------*/
.paint-colors {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.palette-colors{
  display: flex;
  gap: 20px; 
}

.palette-colors .blue {
  background-color: #015CA0;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.palette-colors .blue:hover {
  background-color: #015CA0;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(1, 92, 160, 0.4);
  color: #fff;
  transform: translateY(2px);
}

.palette-colors .red {
  background-color: #DE271D;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
}

.palette-colors .red:hover {
  background-color: #DE271D;
  box-shadow: 0px 15px 20px rgba(222, 39, 29, 0.4);
  color: #fff;
  transform: translateY(2px);
}

.palette-colors .yellow {
  background-color: #ECDB6B;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
}

.palette-colors .yellow:hover{
  background-color: #ECDB6B;
  box-shadow: 0px 15px 20px rgb(236, 219, 107, 0.6);
  color: #fff;
  transform: translateY(2px);
}

.palette-colors .white {
  background-color: #ffffff;
  color: #000;
  border: 1px solid grey;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
}

.palette-colors .white:hover{
  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(2px);
}

.palette-colors .grey {
  background-color: #aaaaaa;
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height:4rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
}

.palette-colors .grey:hover {
  background-color: #aaaaaa;
  box-shadow: 0px 15px 20px rgb(170, 170, 170, 0.8);
  color: #fff;
  transform: translateY(2px);
}

.palette-colors .black {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease 0s;
  outline: none;
}

.palette-colors .black:hover {
  background-color: #000;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: translateY(2px);
}

/*-----------Instructions-----------*/
#instructions {
  background-color: #ECDB6B;
  width: 300px;
  height: 250px;
  position: absolute;
  left: -120px;
  color: #000;
  cursor: pointer;
}

#instructions .instr-container {
  display: flex;
}

#instructions .instr-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 500;
}

.strong-li{
  font-weight: 900;
  font-size: 1.3rem
}

.left img {
  width: 70px;
  cursor: pointer;
}

.left{
  position: relative;
}

/*-----------Hints-----------*/
#hints {
background-color: white;
 width: 250px;
 height: 250px;
 position: absolute;
 right: -120px;
 color: #000;
 cursor: pointer;
 display: none;
}

#hints .hints-container {
  display: flex;
}

#hints .hints-container ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 500;
}

.strong-li-hints{
  font-weight: 900;
  font-size: 1.3rem;
}

.hints-number-size {
  font-size: 1.5rem;
  font-weight: 300;
}

.strong-li-hints.blue {
  color:#015CA0;
}

.strong-li-hints.yellow {
  color: #ECDB6B;
}

.strong-li-hints.red {
  color: #DE271D;
}

.strong-li-hints.grey {
  color: #aaaaaa;
}

.strong-li-hints.white {
  -webkit-text-stroke: 0.4px black;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}

.rigth img {
  width: 70px;
  cursor: pointer;
}

.rigth {
  position: relative;
}

/*-----------Check Button I'm done-----------*/
.finish-button{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#check-button {
  background-color: #ECDB6B;
  color: #000;
  border: none;
  padding: 0.8rem 1rem;
  width: 8rem;
  height: 4rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#check-button:hover {
  background-color: #015CA0;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(1, 92, 160, 0.4);
  color: #fff;
  transform: translateY(3px);
}

/*-----------Lose Page-----------*/
#lose-page {
  height: 100vh;
  display: none;
  justify-content: center; 
  background-image: url(../img/mondrians-dream-background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

#lose-page div {
  display: flex;
  justify-content: center;  
}

#lose-page main {
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 1rem;
background-color: #f9f5f2;
width: 70rem;
height: 25rem;
}

#lose-page main h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  line-height: 4rem;
}

#lose-page main .buttons-lose-page {
  display: flex;
  justify-content: center;
  gap: 45px;
}

/*-----------Win Page-----------*/

#win-page {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

#win-page div main h1.win-message {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  line-height: 2.1rem;
}

#show-Artwork-description {
  margin-bottom: 50px
}

#title-win-page {
  font-size: 3rem;
  margin: 2rem 0rem;
}

#win-page img {
  width: 450px;
}

#win-page #title-win-page {
  padding: 0 30rem;
}

#description-win-page {
  font-size: 1.2rem;
  line-height: 25px;
  margin: 0 25rem;
}

.buttons-win-page {
  display: flex;
    justify-content: center;
    gap: 45px;
}

/*-----------Grid1 to Play-----------*/
.grid1 {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: 170px 210px 64px 64px;
  grid-template-columns: 124px 376px 60px;
  grid-gap: 30px 20px;
  background-color: black;
  box-shadow:0px 8px 15px rgba(0, 0, 0, 0.5);
}

.grid1>div {
  background-color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.grid1 div#a0 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid1 div#a0:hover{
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid1 div#a1:hover {
  box-shadow: 10px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a2 {
  grid-row: 1/3;
  grid-column: 2/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid1 div#a2:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a3 {
  grid-row: 3/5;
  grid-column: 1/2;
  background-color: #ffffff;
  color: white;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid1 div#a3:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a4 {
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid1 div#a4:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a5 {
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}
.grid1 div#a5:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

.grid1 div#a6 {
  grid-row: 4/5;
  grid-column: 3/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}
.grid1 div#a6:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(1px);
}

/*-----------Grid3 to Play-----------*/

.grid-Two{
box-sizing: border-box;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(5, 70px) 90px 90px 30px; 
  grid-template-rows: 30px repeat(5, 70px) 70px 65px 35px; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5)
}

.grid3 > div {
  border: 0.5vw solid black;
  background-size: cover;
}

.grid3 div#a0 {
  grid-column: span 2;
  background-color: #ffffff;
  border-top: none;
  border-left: none;
  cursor: pointer;
}

.grid3 div#a1 {
  grid-column: span 3;
  background-color: #ffffff;
  border-top: none;
  cursor: pointer;
}

.grid3 div#a2 {
  grid-column: span 2;
  background-color: #ffffff;
  border-top: none;
  cursor: pointer;
}

.grid3 div#a3 {
  grid-row: span 6;
  background-color: #ffffff;
  border-top: none;
  border-right: none;
  cursor: pointer;
}

.grid3 div#a4 {
  grid-row: span 2;
  background-color: #ffffff;
  border-left: none;
  cursor: pointer;
}

.grid3 div#a5 {
  grid-column: span 4;
  grid-row: span 4;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a6 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a7 {
  grid-row: span 3;
  background-color: #ffffff;
  border-left: none;
  cursor: pointer;
}

.grid3 div#a8 {
  grid-row: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a9 {
  grid-row: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a10 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a11 {
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a12 {
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a13 {
  grid-row: span 3;
  background-color: #ffffff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

.grid3 div#a14 {
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a15 {
  grid-row: span 2;
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a16 {
  grid-row: span 3;
  background-color: #ffffff;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
}

.grid3 div#a17 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #ffffff;
  border-bottom: none;
  cursor: pointer;
}

.grid3 div#a18 {
  grid-column: span 2;
  background-color: #ffffff;
  cursor: pointer;
}

.grid3 div#a19 {
  grid-column: span 4;
  background-color: #ffffff;
  border-bottom: none;
  cursor: pointer;
}

/*-----------Grid2 to Play-----------*/
.grid2 {
  width: 530px;
  height: 600px;
  display: grid;
  grid-template-rows: 50px 130px 260px 40px 40px;
  grid-template-columns: 50px 150px 160px 110px 110px;
  grid-gap: 20px 20px;
  background-color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.grid2>div {
  background-color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.grid2 div#a0 {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a0:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a1 {
  grid-row: 2/3;
  grid-column: 1/3;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a1:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a2 {
  grid-row: 3/5;
  grid-column: 1/2;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a2:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a3 {
  grid-row: 5/6;
  grid-column: 1/3;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a3:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a4 {
  grid-row: 1/3;
  grid-column: 3/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a4:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a5 {
  grid-row: 1/3;
  grid-column: 4/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a5:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a6 {
  grid-row: 3/5;
  grid-column: 2/3;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a6:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a7 {
  grid-row: 3/4;
  grid-column: 3/4;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a7:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a8 {
  grid-row: 3/4;
  grid-column: 4/5;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a8:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

.grid2 div#a9 {
  grid-row: 4/6;
  grid-column: 3/5;
  background-color: #ffffff;
  transition: all 0.1s ease 0s;
  outline: none;
  cursor: pointer;
}

.grid2 div#a9:hover {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.4);
  transform: translateY(0.8px);
}

